html {

	background: url(/maze-day/media/logo.png) no-repeat center center fixed;
	background-size: cover;
}

.floatRight {

	float: right;
}

.center {

	float: none;
	text-align: center;
}

.huge {

	font-size: 200%;
}

#divLaunchGame {

	color: #ffffff;
	background-color: #5c1887;
	opacity: 0.90;
	width: 100%;
	text-align: center;
}

ul.navbar {

	position: fixed;
	z-index: 5;
  list-style-type: none;
	max-height: 7%;
	width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #007bbc;
}

ul.navbar #mobileKey {

	float: right;
}

ul.navbar li {

	float: left;
}

ul.navbar li a {

	display: inline-block;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 16px;
}

ul.navbar li a:hover {

	background-color: #111111;
}

ul.navbar li.icon {

	display: none;
}

@media screen and (max-width:680px) {

  ul.navbar li:not(:first-child) {

		display: none;
	}

  ul.navbar li.icon {

		float: right;
    display: inline-block;
  }
}

@media screen and (max-width:680px) {

  ul.navbar.responsive {

		position: relative;
	}

  ul.navbar.responsive li.icon {

    position: absolute;
    right: 0;
    top: 0;
  }

  ul.navbar.responsive li {

    float: none;
    display: inline;
  }

  ul.navbar.responsive li a {

		display: block;
    text-align: left;
  }
}

footer {

	position: fixed;
	bottom: 0;
	width: 100%;
	max-height: 7%;
	color: #ffffff;
	background-color: #333;
	text-align: center;
}

body {

	width: 100%;
	height: 100%;
	margin: 0px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
